<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Start of  Zendesk Widget script -->
        <script id="ze-snippet"
                src="https://static.zdassets.com/ekr/snippet.js?key=5091a943-7f23-42fc-8a71-d9c34e0db8ba"></script>
        <!-- End of  Zendesk Widget script -->


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="https://www.zopim.com/oauth2/authorizations/new?response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A8000&client_id=W1BxrgKaoVm1a7HXOtEN5JLYBm7Y2aiQJW08XxFRbqb32Cc9sk&scope=read%20write%20chat&subdomain=poc123123123123213213">Click
        me</a>
  </body>
</html>
